<h1>Super Secret & Fancy Admin Info</h1> 

<nav> 
<a href="https://trello.com/b/R8ZbEzws/pkc">Trello</a> &emsp;
<a href="https://github.com/bobertoo/pretty-kitty-city">Github</a> &emsp;
<%= link_to "Analytics", "/analytics" %>&emsp;
<%= link_to "Add Store Items", new_item_path %>&emsp;


</nav>
