<h1><%= @pet.name %></h1>

All My Friends:
<ul>
  <% @people_friends.each do |pf| %>
    <li><%= link_to pf.name, pf %></li>
  <% end %>
</ul>
<% if !@pet.is_friend_or_owner %>
  <%= button_to 'Be My FRIEND!!!', @pet, method: :patch %>
<% end %>
