<h1><%= @pet.name %></h1>

All My Friends:
<ul>
  <% @people_friends.each do |pf| %>
    <li><%= link_to pf.name, pf %></li>
  <% end %>
</ul>
<% unless (@people_friends.pluck(:id).include? @user.id) || (@pet.owner_id == @user.id) %>
  <%= button_to 'Be My FRIEND!!!', @pet, method: :patch %>
<% end %>
