<h1><%= @user.name%>'s Profile</h1>

<p>username: <%= @user.username %></p>

<p>my pet: <%= link_to "#{@user.pet.name}", pet_path(@user.pet) %></p>


<h2>my pet friends</h2>
<ul>
<% @user.pet_friends.each do |pet_friend| %>
<li><%= link_to "#{pet_friend.name}", pet_path(pet_friend) %></li>
<% end %>
</ul>
