//typeface

$text-font: 'Hind', 'Helvetica Neue', sans-serif;

//colors

$light-pink: #fff4f4;
$hot-pink: #ff69b4;
$neon-green: #b4ff69;
$apricot: #ffb469;

//section colors

$bg-color: $light-pink;
$text-color: $hot-pink;
$link-color: $neon-green;
$nav-bg-color: $apricot;
