<body class='welcome'>
    <h1 class="welcome_h1">Welcome to Pretty Kitty City</h1>
    <% if current_user %>
    <h2 class="welcome_h2"><%= link_to "homepage", user_path(current_user), class: 'neon_green' %></h2>
    <% else %>
      <h2 class="welcome_h2"><%= link_to 'Sign Up', new_user_path, class: 'neon_green' %> or <%= link_to 'Log In', login_path, class: 'neon_green' %></h2>
    <% end %>
    <a href="https://github.com/bobertoo/pretty-kitty-city" class="hot_pink">Fork me on Github!</a>
</body>
