.nav {
  float: right;
  background-color: $nav-bg-color;
  position: sticky;
  position: -webkit-sticky;
  top: 0;

  ul {
    padding: 20px;
  }

  li {
    list-style: none;
    list-style-position:inside;
  }
}
