/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .input-field label {
   color: #ff69b4 !important;
 }
 /* label color */
 .input-field label {
   color: #ff69b4 !important;
 }
 /* label focus color */
 .input-field input[type=text]:focus + label {
   color: #ff69b4 !important;
 }
 /* label underline focus color */
 .input-field input[type=text]:focus {
   border-bottom: 1px solid #ff69b4 !important;
   box-shadow: 0 1px 0 0 #ff69b4 !important;
 }
 /* password label focus color */
 .input-field input[type=password]:focus + label {
   color: #ff69b4 !important;
 }
 /* password label underline focus color */
 .input-field input[type=password]:focus {
   border-bottom: 1px solid #ff69b4 !important;
   box-shadow: 0 1px 0 0 #ff69b4 !important;
 }

.welcome {
    background-image: image-url("background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #ff69b4;
    text-align: center;
}
@media (min-width: 700px) {
  .welcome_h1 {
    font: 4.5em 'Hind', sans-serif;
  }
}
.welcome_h1 {
  margin-top: 100px;
}
.welcome a {
  text-decoration: none;
}
.neon_green {
  color: #b4ff69;
}
.hot_pink {
  color: #ff69b4;
}
.nu_h1 {
  font-size: 50px;
}
.btn {
  margin-bottom: 20px;
  background-color: #ff69b4;
}
.login_page {
  background-image: image-url("background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 550px;
}
.formy {
  margin: 50px auto;
}
.formy_nu {
  margin: 10px auto;
}
body {
   font: 1.4em 'Hind', sans-serif;
   color: #ff69b4 ;
   background-color: #fff4f4 ;
   margin: 30px 50px;
}
a {
   text-decoration: none;
   color: #b4ff69 ;
}
.back_to_welcome {
  color: #ff69b4;
  font-size: 10pt;
}
#catmogi {
  font-size: 70pt;
}
.nav{
  background-color: #ffb469;
}
.nav ul {
  padding: 20px;
}
.nav li {
  list-style: none;
  list-style-position:inside;
}
.action_buttons li {
  display: inline-block;
}
.treatz {
  display: inline-block;
}
ol {
  list-style: none;
}
ul {
  list-style: none;
}
.candy {
  font-size: 70pt;
  float: left;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 4000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 4000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 4000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;

  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
