.welcome {
    background-image: image-url("background.jpg");

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font: 4.5em 'Hind', sans-serif;
    color: #ff69b4;
    background-color: #fff4f4;
    text-align: center;
    margin: 350px auto;
}

.welcome a {
  text-decoration: none;
  color: #b4ff69;
}
