.welcome {
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font: 4.5em 'Hind', sans-serif;
    color: hotpink;
    background-color: #fff4f4;
    text-align: center;
    margin: 350px auto;
}
